table {
	width: 100%;
  }

  .demo-button-container {
	padding-bottom: 16px;
  padding-top: 16px;
  }

  .demo-button + .demo-button {
	margin-left: 8px;
  }

  #form-description{
    padding-bottom: 16px;
  }

  .example-margin {
    margin: 0 10px;
  }
  ::ng-deep .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgb(32, 107, 179) !important;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: rgb(32, 107, 179) !important;
  }

  ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(32, 107, 179) !important;
  }